// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;


body {
  font-family: 'Nunito';
  margin-left: 20px;
  margin-top: 20px;
}

.section {
  border-left: 5px solid $gray;
}

.coach {
  background-color: rgba(244,202,118,0.3);
  width: 500px;
}

p {
  margin-left: 5px;
}

a {
  color: gray;
  &:hover {
    color: black;
  }
}
